node_modules/
.eslintcache
dist/
.vercel
.env
src/data/
.env*.local

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

assets/firebase/firebase-service-account-key.json

build/
.serverless

package/
